
<!DOCTYPE html>
<html>
<head>
    <title>{{ data['name'] }} - ARGA QUANT</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>ARGA QUANT - O Futuro dos Investimentos</h1>
    <h2>{{ data['name'] }} ({{ data['ticker'] }})</h2>
    <div id="price_chart"></div>
    <script>
        var plot_data = {{ data['price_plot'] | safe }};
        Plotly.newPlot('price_chart', plot_data.data, plot_data.layout);
    </script>
    <p>P/L: {{ data['pl'] }}</p>
    <p>Dividend Yield: {{ data['dy'] }}%</p>
    <footer>ARGA - Todos os direitos reservados - 2025</footer>
</body>
</html>
